@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignINManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about  .</p>
   @* <a asp-action="Index" asp-controller="Requestes" class="btn btn-info text-light">index for lab requst</a>
    <a asp-action="Create" asp-controller="Requestes" class="btn btn-info text-light">create lab requst for student</a>*@
   
    
    <a asp-action="Index" asp-route-lang="en"  class="btn btn-primary">en</a>
    <br />
    <a asp-action="Index" asp-route-lang="ar" class="btn btn-primary">ar</a>

    
   
</div>
@if (User.IsInRole("Admin") || User.IsInRole("Recep"))
{
    <a asp-action="Index" asp-controller="Requestes" class="btn btn-info text-light">index for lab requst</a>
    <h1>hi admin , recep</h1>
}
else
{
    <a asp-action="Create" asp-controller="Requestes" class="btn btn-info text-light">create lab requst for student</a>
    <h1>hi every one</h1>
}