@using Microsoft.AspNetCore.Mvc.Localization
@inject Laboratory_Schedule.Resource.LocService SL
@inject IViewLocalizer localizer


@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />

<h1>@SL.Loc("hi")</h1>



<p>Use this page to detail your site's privacy policy.</p>
