@{
    ViewData["Title"] = "Message";
}

<h1>Message</h1>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Thank you Student!</h4>
    <p>Your message has been successfully sent. We will contact you very soon!<br /><br /><b>QUMC</b></p>
</div>
